.higherOrder
    display: flex
    width: 90%
    align-items: center
    margin-bottom: 3rem
    position: fixed
    bottom: 6rem

.order
    background: #E8F6CA
    padding: 1rem 8rem
    padding-right: 4rem
    display: flex
    justify-content: space-between
    width: 70%
    align-items: center
    margin-left: auto
    margin-right: 0
    height: 9rem
    font-size: 2.5rem
    letter-spacing: .7rem

.price
    display: block
    //width: 16rem
    width: 10%
    height: 100%

.textPrice
    font-weight: 400
    font-size: 2.5rem
    letter-spacing: .3rem
    display: block
    margin: auto
    text-align: right
    vertical-align: middle

.burgers
    width: 60%
    justify-content: space-between

.x
    text-transform: lowercase

.buttons
    display: block

//@mixin responsive-box($height)
  //position: relative
  //&:before
    //content: ''
    //display: block
    //padding-top: $height
