.formContainer
    margin: auto
    padding: 4rem
    background: #E8F6CA
    display: flex
    width: 80rem
    margin-top: 4rem
    flex-flow: column
    justify-content: center
    align-items: center
    box-sizing: border-box
    position: relative
    z-index: 300

@media screen and (max-width: 54rem)
    .formContainer
        height: calc((var(--vh) * 100) - var(--TC-height) - var(--toolbar-height))
        width: 95%
        padding: 0.5rem 4rem
        margin-top: 4rem
    
@media screen and (max-width: 45em)
    .formContainer
        height: calc((var(--vh) * 100) - var(--TC-height) - var(--toolbar-height) + (2 * var(--vh)))
        padding: 0 2rem
        margin-top: 1rem
