.higherOrder
    display: flex
    width: 90%
    align-items: center
    margin-bottom: 3rem
.order
    background: #FFF7E2
    padding: 1rem 8rem
    padding-right: 4rem
    display: flex
    justify-content: space-between
    width: 70%
    align-items: center
    margin-left: auto
    margin-right: 0

.price
    display: block
    //width: 16rem
    width: 10%
    height: 100%
.textPrice
    font-weight: 400
    font-size: 2.5rem
    letter-spacing: .3rem
    display: block
    margin: auto
    text-align: right
    vertical-align: middle

.ingredients
    width: 60%
    display: flex
    justify-content: space-between
    
.ingredient
    font-size: 2.5rem
    letter-spacing: .7rem
    display: block
.x
    text-transform: lowercase

.buttons
    display: block

//@mixin responsive-box($height)
  //position: relative
  //&:before
    //content: ''
    //display: block
    //padding-top: $height

.burgerContainer
    width: 8rem
    height: 9rem
    //margin-left: auto
    //margin-right: auto
    overflow: hidden
    text-align: center
    font-weight: bold
    font-size: 1rem
    //display: block
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 2rem
    box-sizing: border-box
    
.fill
    margin-bottom: 0.8rem
    letter-spacing: 0.1rem

//@media screen and (max-width: 38rem)
    ////@include responsive-box(80%)
    //.Burger
        //width: 90vw
        //height: 72vw
